<div class="bar-row">

    <div class="bar-label">
        @Label
    </div>

    <div class="bar-track">
        <div class="bar-fill"
             style="width:@Percentage%">
        </div>
    </div>

    <div class="bar-value">
        @Value
    </div>

</div>

@code {

    [Parameter]
    public string Label { get; set; } = "";

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public int MaxValue { get; set; }

    private int Percentage =>
        MaxValue == 0
            ? 0
            : (int)Math.Round((double)Value / MaxValue * 100);
}